html
{
  height: 100%
}

body
{
  height: 100%;
  margin: 0px;
  padding: 0px
}

h1 {
    text-align: center;
}

#instructions p {
    text-align: center;
    font-weight: bold;
}

#instructions li {
    text-align: center;
    font-weight: bold;
}

#profile {
    text-align: center;
}

#wrapper {
    width:250px;
    padding:20px;
    background:#fff;
    margin:45px auto;
    box-shadow: 0 0 12px rgb(39, 34, 34);
    text-align: left
}

input {
    width: 50px;
}

#factionSubmit {
    width: 100%;
    margin-left: auto;
    margin-left: auto;
}

#eng, #fre {
    width: 20px;
    text-align: left;
}

#map_canvas
{
  height: 100%;
  width: 100%;
}

#float
{
    position: fixed;
    padding: 2px;
    border-width: 5px;
    text-align: left;
    background-color: rgba(255,255,255,0.5);
    border-color: #0F0F0F;
    bottom: 0px;
    font-size: 14px;
    font-family: Arial;
    color: #000000;
}
